li {
  margin: 20px;
  display: inline;
}
button {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-family: "Poppins";
  background-color: blue;
  border: 0px;
}

button:hover {
  background-color: aqua;
}
