header {
}

header ul {
  list-style: none;
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  border-radius: 25px;
}

header li {
  display: inline;
  margin: 20px;
}

.container {
  height: 85vh;
  background-color: #3a0ca3;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
