.intro {
  background-color: blanchedalmond;
  grid-column: span 5;
  grid-row: span 4;
  border-radius: 25px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
}
.intro-top {
  align-self: start;
  font-size: 65px;
  color: black;
  margin-bottom: 0;
}
.test {
  background-color: black;
}
.inline {
  display: inline;
}

.pic {
  background-color: blueviolet;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 20px;
}

.skills {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: brown;
  border-radius: 20px;
}

.experience {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 3;
  grid-row-end: 5;
  background-color: brown;
  border-radius: 20px;
}
